*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    width: 50%;
    height: auto;
    border: 2px solid salmon;
    margin: 20px auto;
}
.task-list{
    margin: 40px 20px 0 20px;
    text-align: left;
}
.task-list li{
    list-style: none;
    display: flex;
    margin-bottom: 20px;
}
input{
    width: 10%;
    height: 15px;
    margin-top: 5px;
}
.task-item{
    width: 90%;
}